html {
    font-family: "Arial Unicode MS";
    color: dimgray;
}

body {
    background-color: gainsboro;
}

form{
    background-color: white;
    text-align: left;
    width: 450px;
    height: 450px;
    margin: auto;
    margin-top: 50px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2{
    text-align: right;
    font-size: medium;
}

#password{
    width: 450px;
    height: 50px;
}

#username{
    width: 450px;
    height: 50px;
}

#password:focus{
    border: 2px solid green;
}

#username:focus{
    border: 2px solid green;
}

.button{
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    border-radius: 40px;
}



