<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/todolist.css}"/>
    <meta charset="UTF-8">
    <title>Edit todo</title>
</head>
<body>
<form th:action="@{|/todo/${todo.id}/edit|}" method="post">
    <h1>Edit todo</h1>
    <div>
        <label for="title">Todo Description</label><br>
        <input th:field = "${todo.title}" type="text" id="title" name="title">
    </div>
    <div>
        <label for="done">Done</label>
        <input th:field="${todo.done}" type="checkbox" name="done" id="done">
    </div>
    <div>
        <label for="urgent">Urgent</label>
        <input th:field="${todo.urgent}" type="checkbox" name="urgent" id="urgent" >
    </div>
    <div>
        <button  class="button" type="submit">Submit</button>
    </div>
</form>
</body>
</html>