<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="container">
<h1>Peer to Peer Chat program</h1>
<form action="/" method="get">
    <label for="username">Your username</label>
    <input type="text" name="username" id = "username" placeholder="Enter your name"><br>
    <button  class="btn btn-info" type="submit">Update</button>
</form>
</body>
<script src="webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</html>