<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="index.css">
</head>
<body>

<div>
    <h1>Home</h1>
    <ul>
        <li>
            <a href="/login">Login</a>
        </li>
        <li>
            <a href="/nutritionstore">Nutrition Store</a>
        </li>
        <li>
            <a href="/trickcenter">Trick Center</a>
        </li>
        <li>
            <a href="/actionhistory">Action History</a>
        </li>
    </ul>
    <br>
    <img src="/foxy.jpg">
    <br><br>

    <span th:text="|This is ${name}.|"></span>
    <span th:text="|Currently living on ${food} and ${drink}.|"></span>
    <span th:text="|${name} knows ${trickCount} tricks.|"></span>
    <br>
    <h2>Known Tricks</h2>
    <ul>
        <li ${trickName}/>
        <li ${trickName}/>
    </ul>
</div>

</body>
</html>