<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="nutrition.css">
</head>
<body>
<h1>It' Lunch Time!</h1>
<br>
<img src="/hungry.jpg">
<br>
<p>Please pick a food and drink to make your pet happy!</p>
<select class = "food">
    <option value="salad">Salad</option>
    <option value="bread">Bread</option>
    <option value="pizza">Pizza</option>
</select>
<div>
    <button  class="button" type="submit">GO</button>
</div>
<br>
<select class = "drink">
    <option value="lemonade">Lemonade</option>
    <option value="water">Water</option>
    <option value="beer">Beer</option>
</select>
<div>
    <button  class="button" type="submit">GO</button>
</div>
</body>
</html>