


h1 {
    color: black;
    font-family: 'consolas';
    src: format(consolas);
    margin-top: 50px;
}
h2 {
    color: deeppink;
    font-family: 'Courier';
    src: format(Courier);
}
 h3 {
     text-align: center;
 }
 body {
     margin-left: 10%;
     margin-right: 10%;
     background-image: image-set(background.svg);
 }
 .header {
     background:#333333;
 }

